/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Grid50 v0.5.3
  Copyright 2015 Elkfox Co Pty Ltd
  https://elkfox.com
==============================================================================*/

@import url('grid50.reset.scss');
@import url('grid50.variables.scss');
@import url('grid50.mixins.scss');
@import url('grid50.columns.scss');
@import url('grid50.flex.scss');
@import url('grid50.table.scss');
@import url('grid50.helpers.scss');
@import url('grid50.typography.scss');
@import url('grid50.media.scss');
@import url('grid50.forms.scss');
@import url('grid50.social.scss');
@import url('grid50.animation.scss');

/* Basic Grid50 Layout =======================================================*/

html {
  background-color: $colorBodyBackground;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
