/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Grid50 v0.5.3
  Copyright 2015 Elkfox Co Pty Ltd
  https://elkfox.com
==============================================================================*/

@import url('grid50.reset');
@import url('grid50.variables');
@import url('grid50.mixins');
@import url('grid50.columns');
@import url('grid50.flex');
@import url('grid50.table');
@import url('grid50.helpers');
@import url('grid50.typography');
@import url('grid50.media');
@import url('grid50.forms');
@import url('grid50.social');
@import url('grid50.animation');

/* Basic Grid50 Layout =======================================================*/

html {
  background-color: $colorBodyBackground;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
