/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v0.1
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/
/* Variables =================================================================*/
/* Mixins ====================================================================*/
/* Grid System ===============================================================*/
.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 50px; }
  .container.l {
    width: 1200px; }
  .container.m {
    width: 992px; }
  .container.s {
    width: 768px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 25px; } }

.row {
  margin: 0 -25px 50px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row.collapsed {
    margin: 0 !important; }
    .row.collapsed .column {
      padding: 0; }

.column {
  float: left;
  min-height: 0.125rem;
  padding: 0 25px; }

.column.l1 {
  width: 8.33333%; }

.column.l2 {
  width: 16.66667%; }

.column.l3 {
  width: 25%; }

.column.l4 {
  width: 33.33333%; }

.column.l5 {
  width: 41.66667%; }

.column.l6 {
  width: 50%; }

.column.l7 {
  width: 58.33333%; }

.column.l8 {
  width: 66.66667%; }

.column.l9 {
  width: 75%; }

.column.l10 {
  width: 83.33333%; }

.column.l11 {
  width: 91.66667%; }

.column.l12 {
  width: 100%; }

@media (min-width: 768px) and (max-width: 1199px) {
  .column.m1 {
    width: 8.33333%; }

  .column.m2 {
    width: 16.66667%; }

  .column.m3 {
    width: 25%; }

  .column.m4 {
    width: 33.33333%; }

  .column.m5 {
    width: 41.66667%; }

  .column.m6 {
    width: 50%; }

  .column.m7 {
    width: 58.33333%; }

  .column.m8 {
    width: 66.66667%; }

  .column.m9 {
    width: 75%; }

  .column.m10 {
    width: 83.33333%; }

  .column.m11 {
    width: 91.66667%; }

  .column.m12 {
    width: 100%; } }
@media (max-width: 768px) {
  .column.s1 {
    width: 8.33333%; }

  .column.s2 {
    width: 16.66667%; }

  .column.s3 {
    width: 25%; }

  .column.s4 {
    width: 33.33333%; }

  .column.s5 {
    width: 41.66667%; }

  .column.s6 {
    width: 50%; }

  .column.s7 {
    width: 58.33333%; }

  .column.s8 {
    width: 66.66667%; }

  .column.s9 {
    width: 75%; }

  .column.s10 {
    width: 83.33333%; }

  .column.s11 {
    width: 91.66667%; }

  .column.s12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .column.l2:nth-child(6n+1) {
    clear: both; }

  .column.l3:nth-child(4n+1) {
    clear: both; }

  .column.l4:nth-child(3n+1) {
    clear: both; }

  .column.l6:nth-child(2n+1) {
    clear: both; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .column.m2:nth-child(6n+1) {
    clear: both; }

  .column.m3:nth-child(4n+1) {
    clear: both; }

  .column.m4:nth-child(3n+1) {
    clear: both; }

  .column.m6:nth-child(2n+1) {
    clear: both; } }
@media (max-width: 768px) {
  .column.s2:nth-child(6n+1) {
    clear: both; }

  .column.s3:nth-child(4n+1) {
    clear: both; }

  .column.s4:nth-child(3n+1) {
    clear: both; }

  .column.s6:nth-child(2n+1) {
    clear: both; } }
@media (min-width: 1200px) {
  .l-hide {
    display: none !important; }

  .l-left {
    text-align: left; }

  .l-center {
    text-align: center; }

  .l-right {
    text-align: right; }

  .xl-show, .m-show, .s-show {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .m-hide {
    display: none !important; }

  .m-left {
    text-align: left; }

  .m-center {
    text-align: center; }

  .m-right {
    text-align: right; }

  .l-show {
    display: none !important; }

  .l-show, .s-show {
    display: none !important; } }
@media (max-width: 768px) {
  .s-hide {
    display: none !important; }

  .s-left {
    text-align: left; }

  .s-center {
    text-align: center; }

  .s-right {
    text-align: right; }

  .l-show {
    display: none !important; }

  .l-show, .m-show {
    display: none !important; } }

/*# sourceMappingURL=grid50_2.css.map */
