/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v0.1
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright Elkfox Co Pty Ltd
==============================================================================*/
/* Variables =================================================================*/
/* Reset =====================================================================*/
.grid50 *,
.grid50 *:after,
.grid50 *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Mixins ====================================================================*/
/* Grid System ===============================================================*/
.grid50_container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 50px; }
  .grid50_container.l {
    width: 1200px; }
  .grid50_container.m {
    width: 992px; }
  .grid50_container.s {
    width: 768px; }
  @media (max-width: 768px) {
    .grid50_container {
      padding: 0 25px; } }

.grid50_row {
  margin: 0 -25px 50px; }
  .grid50_row:after {
    content: "";
    display: table;
    clear: both; }
  .grid50_row.collapsed {
    margin: 0 !important; }
    .grid50_row.collapsed .grid50_column {
      padding: 0; }

.grid50_column {
  float: left;
  min-height: 0.125rem;
  padding: 0 25px; }

.grid50_column.l1 {
  width: 8.33333%; }

.grid50_column.l2 {
  width: 16.66667%; }

.grid50_column.l3 {
  width: 25%; }

.grid50_column.l4 {
  width: 33.33333%; }

.grid50_column.l5 {
  width: 41.66667%; }

.grid50_column.l6 {
  width: 50%; }

.grid50_column.l7 {
  width: 58.33333%; }

.grid50_column.l8 {
  width: 66.66667%; }

.grid50_column.l9 {
  width: 75%; }

.grid50_column.l10 {
  width: 83.33333%; }

.grid50_column.l11 {
  width: 91.66667%; }

.grid50_column.l12 {
  width: 100%; }

@media (min-width: 768px) and (max-width: 1199px) {
  .grid50_column.m1 {
    width: 8.33333%; }

  .grid50_column.m2 {
    width: 16.66667%; }

  .grid50_column.m3 {
    width: 25%; }

  .grid50_column.m4 {
    width: 33.33333%; }

  .grid50_column.m5 {
    width: 41.66667%; }

  .grid50_column.m6 {
    width: 50%; }

  .grid50_column.m7 {
    width: 58.33333%; }

  .grid50_column.m8 {
    width: 66.66667%; }

  .grid50_column.m9 {
    width: 75%; }

  .grid50_column.m10 {
    width: 83.33333%; }

  .grid50_column.m11 {
    width: 91.66667%; }

  .grid50_column.m12 {
    width: 100%; } }
@media (max-width: 768px) {
  .grid50_column.s1 {
    width: 8.33333%; }

  .grid50_column.s2 {
    width: 16.66667%; }

  .grid50_column.s3 {
    width: 25%; }

  .grid50_column.s4 {
    width: 33.33333%; }

  .grid50_column.s5 {
    width: 41.66667%; }

  .grid50_column.s6 {
    width: 50%; }

  .grid50_column.s7 {
    width: 58.33333%; }

  .grid50_column.s8 {
    width: 66.66667%; }

  .grid50_column.s9 {
    width: 75%; }

  .grid50_column.s10 {
    width: 83.33333%; }

  .grid50_column.s11 {
    width: 91.66667%; }

  .grid50_column.s12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .grid50_column.l2:nth-child(6n+1) {
    clear: both; }

  .grid50_column.l3:nth-child(4n+1) {
    clear: both; }

  .grid50_column.l4:nth-child(3n+1) {
    clear: both; }

  .grid50_column.l6:nth-child(2n+1) {
    clear: both; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .grid50_column.m2:nth-child(6n+1) {
    clear: both; }

  .grid50_column.m3:nth-child(4n+1) {
    clear: both; }

  .grid50_column.m4:nth-child(3n+1) {
    clear: both; }

  .grid50_column.m6:nth-child(2n+1) {
    clear: both; } }
@media (max-width: 768px) {
  .grid50_column.s2:nth-child(6n+1) {
    clear: both; }

  .grid50_column.s3:nth-child(4n+1) {
    clear: both; }

  .grid50_column.s4:nth-child(3n+1) {
    clear: both; }

  .grid50_column.s6:nth-child(2n+1) {
    clear: both; } }
@media (min-width: 1200px) {
  .grid50_l-hide {
    display: none !important; }

  .grid50_l-left {
    text-align: left; }

  .grid50_l-center {
    text-align: center; }

  .grid50_l-right {
    text-align: right; }

  .grid50_xl-show, .grid50_m-show, .grid50_s-show {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .grid50_m-hide {
    display: none !important; }

  .grid50_m-left {
    text-align: left; }

  .grid50_m-center {
    text-align: center; }

  .grid50_m-right {
    text-align: right; }

  .grid50_l-show {
    display: none !important; }

  .grid50_l-show, .grid50_s-show {
    display: none !important; } }
@media (max-width: 768px) {
  .grid50_s-hide {
    display: none !important; }

  .grid50_s-left {
    text-align: left; }

  .grid50_s-center {
    text-align: center; }

  .grid50_s-right {
    text-align: right; }

  .grid50_l-show {
    display: none !important; }

  .grid50_l-show, .grid50_m-show {
    display: none !important; } }

/*# sourceMappingURL=grid50_prefixed.css.map */
